@import "./base.css";

#app {
  height: 100svh;
}


body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2svh 0;
}

h1 {
  text-align: center;
}
